In [ ]:
import sqlite3
import pandas as pd

In [5]:
def connectDB(db):
    conn = sqlite3.connect('hotel-booking.db')
    c = conn.cursor()
    return conn, c

In [44]:
def createTable(db,table):
    c = connectDB("")
    c.execute("""create table Hbooking(
                 hotel_id text,
                 booking_id text,
                 agent_id text,
                 phone text,
                 no_of_nights integer,
                 no_of_guests integer,
                 booking_date date,
                 photo_id object,
                 booking_amount float,
                 billed_amount float,
                 room_charges float,
                 food_charges float,
                 tickets      float,
                 other_charges float,
                 last_name text,
                 first_name text,
                 payment_method text,
                 booking_status text,
                 refunded_amount float,
                 rating_rooms integer,
                 rating_food integer,
                 rating_staff integer
                 comments text 
                 )""")

In [45]:
def commitDB(conn):
    conn.commit()

In [18]:
#c = connectDB("")
#c.execute("DROP TABLE Hbooking")

In [19]:
#c = connectDB("")
#createTable("","")

In [6]:
def closeDBConnection(conn):
    conn.close()

In [50]:
def bookingUpdate(request): 
    h_dict = {
        "hotel_id":"CDK001",
        "booking_id":"0000_0000_01",
        "agent_id":"A_OD_001",
        "phone":91919191919,
        "no_of_nights":1,
        "no_of_guests":2,
        "booking_date":"2023-04-30",
        "photo_id":"",
        "booking_amount":10000.00,
        "billed_amount":10000.00,
        "room_charges":10000.00,
        "food_charges":0.00,
        "tickets":0.00,
        "other_charges":0.00,
        "last_name":"LNA",
        "first_name":"FNA",
        "payment_method":"CC",
        "booking_status":"Active",
        "refunded_amount":0.00,
        "rating_rooms":5,
        "rating_food":5,
        "rating_staff":5,
        "comments":"Fantastic place."
    }
    print(connectDB(""))
    conn, c = connectDB("")
    print('connected...')
    innsertDB(c,h_dict)
    print('inserted...')
    commitDB(conn)
    print('commited...')
    conn.close()
    print('closed...')

def innsertDB(c,h_dict):
    v1 = h_dict['hotel_id']
    v2 = h_dict['booking_id']
    v3 = ""
    v4 =  ""
    v5 =  ""
    v6 =  ""
    v7 = ""
    v8 = ""
    v9 = ""
    v10 = ""
    v11 = ""
    v12 = ""
    v13 = ""
    v14 = ""
    v15 = ""
    v16 = ""
    v17 = ""
    v18 = ""
    v19 = ""
    v20 = ""
    v21 = ""
    v22 = ""
    v23 = ""
    sqlstring = """insert into Hbooking values (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"""
    c.execute(sqlstring, (v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22))

In [51]:
bookingUpdate("r")

(<sqlite3.Connection object at 0x000001FB0DEC87B0>, <sqlite3.Cursor object at 0x000001FB0DEA3DC0>)
connected...
inserted...
commited...
closed...

In [13]:
def readSqlTable(conn,table):
#!select * from Hbooking
    conn, c = connectDB("")
    print('connected...')
#    commitDB(conn)
#    print('commited...')
# Load the data into a DataFrame
    booking_df = pd.read_sql_query("SELECT * from Hbooking", conn)
    print('Booking data...')
    print(booking_df.iloc[:, 0:5])
    #print(booking_df.iloc[:,0:-3])
# Select only data for 2002
#    surveys2002 = surveys_df[surveys_df.year == 2002]
# Write the new DataFrame to a new SQLite table
# surveys2002.to_sql("surveys2002", con, if_exists="replace")
    conn.close()

In [ ]:
readSqlTable("","")